/******** NOTES
Nature Theme Style
*/

* { margin: 0; }
html, body { margin: 0px; font-family: Arial; font-size: 12px; color: #EBFFD1; background: #8EB55A; height: 100%; width: 100%; }

a:link, .alink{color: #2F6700; }
a:active{color: #2F6700; }
a:visited{color: #2F6700; }
a:hover{color: #3D8500; }
.alink{ text-decoration: underline; cursor: pointer; }
.nounder{ text-decoration: none; cursor: pointer; }

.online{ background: #C2FF91; }
.offline{ background: #FFC4BC; }

.co, .cv, .ca, .cl, .cn, .cc{ padding: 10px; margin-bottom: 5px; }
.co{ background: url(chat_co.png) no-repeat; background-position: 0px 8px; margin-left: 10px; padding-left: 20px; color: #7A7B49; }
.cv{ background: url(chat_cv.png) no-repeat; background-position: 0px 8px; margin-left: 10px; padding-left: 20px; color: #33512E; }
.ca{ color: #353835; }
.cl{ color: #353835; }
.cn{ color: #353835; }
.ctitle{ font-size: 14px; font-weight: bold; }
.ct{ font-weight: normal; font-size: 10px; } /* timestamp */

.cs{ background: #84A854; padding: 5px; } /* survey */
#div_chat_rate_title{ font-size: 14px; font-weight: bold; }

#chat_logo{ background: transparent; }
#chat_vname, #chat_vtimer, #chat_settings{ font-weight: bold; }
#chat_vtimer{ padding: 2px; }

.profile_pic_img{ border-radius: 10px; }
#chat_profile_name{ color: #353835; }
#chat_profile_pic{ padding: 10px; color: #353835; background: #D2DBB4; border: 1px solid #D3D4B3; }

#chat_canvas{ background: url( leaves.png ) no-repeat #8EB55A; background-position: bottom right; }
.chat_canvas_alert{ background: #A6D368 !important; }
#chat_switchboard{ background: transparent; border-bottom: 1px solid transparent; }
.chat_switchboard_cell, .chat_switchboard_cell_focus, .chat_switchboard_cell_bl_red, .chat_switchboard_cell_bl_green{ padding: 5px; padding-top: 15px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); }
.chat_switchboard_cell{ background: #7CA24C; border: 1px solid #759948; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_focus{ background: #C5CFA3; color: #6A8A41; border: 1px solid #87AC56; font-weight: bold; margin-right: 5px; }
.chat_switchboard_cell_bl_red{ background: #FF7676; color: #FFE5E5; font-weight: bold; margin-right: 5px; border: 1px solid transparent; cursor: pointer; }
.chat_switchboard_cell_bl_green{ background: #D4FFD4; color: #7E987E; font-weight: bold; margin-right: 5px; border: 1px solid transparent; cursor: pointer; }

input[type=text], .input_text, #input_text, select, textarea, #chat_body, .chat_body, .info_box, .info_error, .info_good, .info_warning, .info_neutral, .info_content, .info_focus, .page, .page_focus, #reconnect_notice, .sound_box_on, .sound_box_off, #chat_footer_traffic_counter, .co, .cv, .ca, .cl, .cn, .cc, .ctitle, .ct, #chat_vtimer, .profile_pic_img, #chat_profile_pic, .round, #chat_status_offline{ border-radius: 10px; }
.chat_info_menu, .chat_info_menu_focus, .chat_info_menu_hover, .chat_info_td_t, .chat_footer_cell, .chat_footer_cell_focus, .round_top{ border-top-left-radius: 10px 10px; border-top-right-radius: 10px 10px; }
.chat_switchboard_cell, .chat_switchboard_cell_focus, .chat_switchboard_cell_bl_green, .chat_switchboard_cell_bl_red{ border-bottom-left-radius: 10px 10px; border-bottom-right-radius: 10px 10px; }
.noround{ border-radius: 0px; }



.chat_info_wrapper{ }
#chat_info_header{ padding: 3px; }
#chat_info_menu_list{ border-bottom: 0px solid; }
.chat_info_menu{ float: left; padding: 5px; margin-right: 4px; color: #6A8A41; background: #BFCE41; border: 1px solid #BFCE41; cursor: pointer; }
.chat_info_menu_hover, .chat_info_menu_focus{ position: relative; float: left; padding: 5px; margin-right: 4px; color: #EBFFD1; background: #6A8A41; border: 1px solid #6A8A41; cursor: pointer; }
.chat_info_menu, .chat_info_menu_hover, .chat_info_menu_focus{ padding-top: 10px; padding-bottom: 8px; }
#chat_info_body{ padding: 5px; background: transparent; border-left: 1px solid transparent; border-right: 1px solid transparent; border-top-right-radius: 10px 10px; }
.chat_info_td_t{ padding: 10px; background: #7D9F4F; color: #EBFFD1; font-weight: bold; margin-right: 1px; } /* for general info td title */
.chat_info_td_h{ padding: 10px; padding-left: 0px; } /* used for td title */
.chat_info_td{ padding: 6px; background: transparent; border-bottom: 1px solid transparent; }
.chat_info_td_traffic{ padding: 8px; }
.chat_info_td_traffic_info{ padding: 8px; background: transparent; font-weight: bold; }
.chat_info_td_traffic_img{ background: #A2CE66; }
.chat_info_td_blank{ padding: 5px; }
.chat_info_end{ height: 1px; }
.chat_info_tr_traffic_row{ background: #9BC662; }

.chat_info_link{ cursor: pointer; }
#info_info{ padding-top: 10px; }

/* for #chat_body and #request_body don't go past 25px padding or possible layout error */
#chat_body, .chat_body{ color: #353835; background: #E3E4CB; padding: 25px; }
#request_body{ color: #EBFFD1; padding: 25px; }
::-webkit-scrollbar-track{ border-radius: 10px; background-color: #82A653; }
::-webkit-scrollbar{ width: 12px; }
::-webkit-scrollbar-thumb{ border-radius: 10px; background-color: #45583D; }

#chat_body{ border: 1px solid #D3D4B3; }
#chat_button_start{ }

#chat_text_header{ font-size: 18px; font-weight: bold; }
#chat_text_header_sub{ }
#chat_text_powered{ color: #353835; }
#chat_text_login{ }

#chat_embed_header{ background: #84A854; border-top: 1px solid transparent; }
#chat_embed_title{ padding: 5px; color: #EBFFD1; }

#chat_footer{ background: transparent; border-top: 1px solid transparent; }
.chat_footer_cell{ float: left; padding: 10px; font-weight: bold; background: #7CA24C; border: 1px solid #759948; border-bottom: 0px solid; cursor: pointer; }
.chat_footer_cell_focus{ float: left; color: #EBFFD1; background: #455838; border: 1px solid #455838; border-bottom: 0px solid; padding: 10px; font-weight: bold; cursor: pointer; }
.chat_footer_cell_noclick{ float: left; padding: 10px; padding-right: 3px; padding-left: 3px; }
#chat_footer_traffic_counter{ padding: 2px; color: #759948; background: #EBFFD1; border: 1px solid transparent; }
#chat_extra_wrapper{ background: #8EB55A; }
#chat_extra_title{ background: #FFFFE1; color: #8D90A8; border-top: 1px solid #BDBDA7; border-bottom: 1px solid #8EB55A; }

.rating_title{ }

.info_box{ background: #D3D4B3; border: 1px solid #D3D4B3; padding: 5px; color: #353835; }
.info_error{ background: #DE4B39; border: 1px solid #B33C2E; padding: 5px; color: #EBFFD1; }
.info_good{ background: #71D573; border: 1px solid #62B863; padding: 5px; color: #EBFFD1; }
.info_neutral{ background: #84A854; border: 1px solid #84A854; padding: 5px; color: #EBFFD1; }
.info_warning{ background: #FFE8C4; border: 1px solid #E1CDAD; padding: 5px; color: #5A5245; }
.info_content{ background: #84A854; border: 1px solid #84A854; padding: 5px; color: #EBFFD1; }
.info_clear{ background: transparent; border: 1px solid transparent; padding: 5px; }
.info_focus{ border: 2px solid #688442; }

.sound_box_on{ background: #43CB00; padding: 5px; color: #EBFFD1; }
.sound_box_off{ background: #F55054; padding: 5px; color: #EBFFD1; }

.info_disconnect{ padding: 3px; background: #EC5C66; color: #EBFFD1; border: 1px solid #DD5B5D; border-bottom-left-radius: 10px 10px; cursor: pointer; }
.info_disconnect_hover{ padding: 3px; background: #D15658; color: #EBFFD1; border: 1px solid #DD5B5D; border-bottom-left-radius: 10px 10px; cursor: pointer; }

/* canned messages related */
.chat_cans_text_new{ font-size: 10px; }
#canned_container, #canned_box_new, #footprint_info_wrapper{ background: #8EB55A; padding: 10px; }
#canned_box_new{ padding: 15px; }
#canned_box_oc{ width: 110px; text-align: center; }
#canned_select{ border: 1px solid #87AB4B; }
#canned_select_btn{ margin-top: 5px; }

/* status related */
#chat_status{ }
#chat_status_offline{ background: #6A8A41; }
#chat_status_offline_text{ background: #EBFFD1; color: #6A8A41; }
#chat_status_logout{ background: #6A8A41; width: 100%; }

#chat_info_wrapper_network{ opacity:0.7; filter:alpha(opacity=70); }
#chat_network{ border-left: 1px dotted transparent; }
#chat_network_img{ background: url( network.png ) no-repeat; }

/* page related *****/
.page_top_wrapper{ margin-bottom: 15px; }
.page_bottom_wrapper{ margin-top: 15px; }
.page, .page_focus{ float: left; padding: 2px; padding-left: 5px; padding-right: 5px; margin-right: 10px; }
.page{ font-weight: bold; background: #82AC51; border: 1px solid transparent; cursor: pointer; }
.page_focus{ background: #65863F; border: 1px solid transparent; }
/* end page related */

#input_text, .input_text, .input_text_search{ color: #353835; background: #E3E4CB; border: 1px solid #C0C1A2; padding: 8px; -webkit-appearance: none; outline: none; }
select{ background: #E3E4CB; border: 1px solid #C0C1A2; padding: 8px; opacity: 0.9; filter: alpha(opacity=90); -webkit-appearance: none; outline: none; }
.input_focus{ border: 1px solid #F55054; -webkit-appearance: none; outline: none; }
#input_btn{ width: 104px; height: 45px; padding: 6px; font-size: 14px; font-weight: bold; outline: none; }
.vcomment{ background: #D9DFBF !important; outline: none; }
#chat_submit_btn{ padding-left: 25px; outline: none; }
#btn_initiate{ outline: none; }
.input_button, .input_op_button, #input_btn{
	BORDER-RADIUS: 18PX;
	background-color: #45583D;
	color: #EBFFD1;
	border: 0px;
	font-size: 16px !important;
	outline:0;
	cursor: pointer;
	outline: none;
}

.menu_traffic_info, .menu_traffic_info_focus{ padding: 8px; margin-right: 5px; float: left; cursor: pointer; border-top-left-radius: 10px 10px; border-top-right-radius: 10px 10px; }
.menu_traffic_info{ background: #7D9F4F; color: #EBFFD1; font-weight: bold; }
.menu_traffic_info_focus{ font-weight: bold; border: 1px solid #7D9F4F; border-bottom: 0px; }