.navbar-nav>.nav-item>.nav-link {
    font-size: 15px;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 1 !important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #007bff;
}

.carousel-caption {
    padding-top: 9%;
}

.h5-carousel-caption {
    color: white;
}

.h1-carousel-caption {
    color: white;
    font-size: 70px;
}

.row-images {
    width: 450px;
    height: 400px;
}




@media only screen and (max-width: 1366px) {
    .h5-carousel-caption {
        color: white;
    }

    .h1-carousel-caption {
        color: white;
        font-size: 50px;
    }

    .row-images {
        width: 350px;
        height: 300px;
    }

}